* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black ;
}

.container {
  width: 70%;
  height: 500px;
  border: 1px solid yellow;
  margin: 100px auto;
  padding: 20px 40px;
  display: flex
}

.img{
  width: 50%;
  display: flex;
  justify-content: center;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#light-switch {
  padding: 20px 10px;
  font-size: 20px;
}



.hide {
  display: none;
}